.section-product {
	.list-categories-product {
		position: relative;

		.main-img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}



	.box-cat {
		background-color: rgba(255, 255, 255, .8);
		position: absolute;
		top: 50%;
		left: 73%;
		padding: 30px 40px 40px;
		width: 26%;
		min-width: 400px;
		max-height: 88%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

		ul {
			li {
				flex-basis: 50%;
				border-left: 1px solid #f53939;
				padding-left: 10px;
				margin: 0.5rem 0;
			}
		}
	}

	@include mobile-tablet{
		.box-cat {
			padding: 30px 5%;
			position: relative;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			margin: 0 0 30px 0;
			transform: translate(0, 0);
		}
	}
}