.section-page {
	img {
		max-width: 100%;
	}

	.contact-info {

		i {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 36px;
			border: 1px dashed #54aa00;
			border-radius: 50%;
			color: #54aa00;
			-webkit-transition: 0.5s;
			transition: 0.5s;

		}

		li {
			padding-left: 50px;
			position: relative;
			margin-bottom: 2rem;

			&:hover {
				i {
					background-color: $primary;
					color: #FFF;
				}
			}
		}
	}

	.gform_fields.top_label.form_sublabel_below.description_below {
		.gfield_label {
			display: none;
		}
	}

	.gform_wrapper textarea.small {
		border: 1px solid #ccc;
	}

	.gform_button.button.form-control {
		background-color: $primary;
		color: #FFF;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	textarea {
		border: 1px solid #CCC;
	}
}