.services {
	.service-item {
		flex-basis: 25%;
		position: relative;
		overflow: hidden;

		& + .service-item {
			border-left: 1px solid #FFF;
			@include mobile {
				border-top: 1px solid #FFF;
				border-left: 0;
			}
		}
		@include mobile-tablet {
			flex-basis: 50%;
			&:nth-child(even) {
				border-left: 1px solid #FFF;
			}
		}

		&:hover {
			img {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .3);
		}

		img {
			width: 100%;
			height: 100%;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}

		.box-information {
			color: #FFF;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.title {
				font-size: 2rem;
				white-space: nowrap;
				@include mobile {
					font-size: 1.2rem;
					white-space: pre-wrap;
				}
			}

			a {
				border-bottom: 1px solid #fff;
			}
		}
	}
}