.section-single {
	.post-item-sidebar {
		&:first-child {
			margin-top: 10px;
		}

		.box-img {
			height: 65px;
			flex-basis: 30%;
			-webkit-flex-basis: 30%;
		}

		.info {
			flex-basis: 70%;
			-webkit-flex-basis: 70%;
			background: #ccc;
			font-size: 12px;
			padding: 5px;
		}
	}

	.form-submit {
		input {
			width: auto;
		}
	}
}