.list-categories {
	.category {
		flex-basis: calc(100% / 3);
		@include mobile {
			border: 1px solid #CCC;
			& + .category {
				margin-left: -1px;
			}
		}

		img {
			width: 100%;
			margin: 0 auto;
		}

		.title {
			font-family: 'UTM Bebas', sans-serif;

		}
	}
}