$primary: #020202;
// scss-docs-start import-stack
// Configuration
@import "../vendor/bootstrap-5.0.2/scss/functions";
@import "../vendor/bootstrap-5.0.2/scss/variables";
@import "../vendor/bootstrap-5.0.2/scss/mixins";
@import "../vendor/bootstrap-5.0.2/scss/utilities";

// Layout & components
@import "../vendor/bootstrap-5.0.2/scss/root";
@import "../vendor/bootstrap-5.0.2/scss/reboot";
@import "../vendor/bootstrap-5.0.2/scss/type";
@import "../vendor/bootstrap-5.0.2/scss/images";
@import "../vendor/bootstrap-5.0.2/scss/containers";
@import "../vendor/bootstrap-5.0.2/scss/grid";
@import "../vendor/bootstrap-5.0.2/scss/tables";
@import "../vendor/bootstrap-5.0.2/scss/forms";
@import "../vendor/bootstrap-5.0.2/scss/buttons";
@import "../vendor/bootstrap-5.0.2/scss/transitions";
@import "../vendor/bootstrap-5.0.2/scss/dropdown";
@import "../vendor/bootstrap-5.0.2/scss/button-group";
@import "../vendor/bootstrap-5.0.2/scss/nav";
@import "../vendor/bootstrap-5.0.2/scss/navbar";
@import "../vendor/bootstrap-5.0.2/scss/card";
@import "../vendor/bootstrap-5.0.2/scss/accordion";
@import "../vendor/bootstrap-5.0.2/scss/breadcrumb";
@import "../vendor/bootstrap-5.0.2/scss/pagination";
@import "../vendor/bootstrap-5.0.2/scss/badge";
@import "../vendor/bootstrap-5.0.2/scss/alert";
@import "../vendor/bootstrap-5.0.2/scss/progress";
@import "../vendor/bootstrap-5.0.2/scss/list-group";
@import "../vendor/bootstrap-5.0.2/scss/close";
@import "../vendor/bootstrap-5.0.2/scss/toasts";
@import "../vendor/bootstrap-5.0.2/scss/modal";
@import "../vendor/bootstrap-5.0.2/scss/tooltip";
@import "../vendor/bootstrap-5.0.2/scss/popover";
@import "../vendor/bootstrap-5.0.2/scss/carousel";
@import "../vendor/bootstrap-5.0.2/scss/spinners";
@import "../vendor/bootstrap-5.0.2/scss/offcanvas";

@import "../vendor/owlcarousel/dist/assets/owl.carousel.min.css";
@import "../vendor/owlcarousel/dist/assets/owl.theme.default.min.css";

// Helpers
@import "../vendor/bootstrap-5.0.2/scss/helpers";

// Utilities
@import "../vendor/bootstrap-5.0.2/scss/utilities/api";
// scss-docs-end import-stack

@import "../vendor/fontawesome-free-6.1.1-web/scss/fontawesome";

@import "../base/mixin";
@import "../base/font-variables";
@import "../base/layout";
@import "../base/base";
@import "../base/break-point";
@import "../base/reset";
@import "header";
@import "footer";
@import "contact-online";
@import "posts";
@import "services";
@import "top-categories";
@import "about";
@import "page";
@import "global_product";
@import "archive";
@import "single-product";
@import "archive_product";

.title-dancing {
  @include font-title-7();
  font-size: 3rem;
  background-color: #CCC;
  @include mobile {
    font-size: 2rem;
  }
}

.title-extra-large {
  font-family: 'UTM Bebas', sans-serif;
  font-size: 40px;
  padding: 2rem 0;
  color: $danger;
  background: #111;
  @include mobile {
    padding: 1.2rem 0;
  }
}