footer{
	background-color: #edeeee;
	.information{
		.container{
			.row{
				.col-md-2{
					color: #303030;
					//border: 1px solid red;
					.light{
						font-size: 13px;
					}
					.text-uppercase{
						width: auto;
						height: 44px;
						line-height: 1.5;
						text-transform: uppercase;
						position: relative;
						font-weight: 700;
						color: #303030 !important;
						position: relative;
						&:after{
							content: '';
							position: absolute;
							left: 0%;
							top: 80%;
							width: 35px;
							height: 3px;
							background: #0DAC4B;
						}
					}
					.about{
						a{
							text-decoration: none;
							line-height: 40px;
						}
					}
					.phone{
						a{
							text-decoration: none;
							text-decoration: upercase;
							font-weight: 700;
							line-height: 55px;
							span{
								margin-left: 10px;
								color: #6eb479;
							}
							img {
								width: 40px;
								//margin-bottom: 20px;
							}
						}
					}
				}
				.hotline {
					padding-left: 100px;
					.light {
						font-size: 13px;
					}

					.text-uppercase {
						width: auto;
						height: 44px;
						line-height: 1.5;
						text-transform: uppercase;
						position: relative;
						font-weight: 700;
						color: #303030 !important;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							left: 0%;
							top: 80%;
							width: 35px;
							height: 3px;
							background: #0DAC4B;
						}
					}

					.about {
						a {
							text-decoration: none;
							line-height: 40px;
						}
					}

					.phone {
						a {
							text-decoration: none;
							text-decoration: upercase;
							font-weight: 700;
							line-height: 55px;

							span {
								margin-left: 10px;
								color: #6eb479;
							}

							img {
								width: 40px;
								//margin-bottom: 20px;
							}
						}

					}
				}
				.col-md-3{
					//border: 1px solid blue;
					.light{
						font-size: 13px;
					}
					.text-uppercase{
						width: auto;
						height: 44px;
						line-height: 1.5;
						text-transform: uppercase;
						position: relative;
						font-weight: 700;
						color: #303030 !important;
						position: relative;
						&:after{
							content: '';
							position: absolute;
							left: 0%;
							top: 80%;
							width: 35px;
							height: 3px;
							background: #0DAC4B;
						}
					}
					.mb-4{
						a{
							border-radius: 40px;
							color: #303030;
						}

					}
					.icon{
						a{
							width: 35px;
							height: 35px;
							padding: 3px 0px 0px 0px;
							svg{
								//margin-bottom: 8px;
								//margin-right: 30px;

							}
						}
					}
				}
			}
		}
	}
	.d-flex{
		.container{
			.row{
				a.col-lg-3{
					text-decoration: none;
					color: #6eb479;
					font-weight: 550;
					img{
						width: 45px;
					}
					.ml-2{
						margin-left: 15px;
						color: #50a55c;
						font-size: 15px;
					}
				}
				.col-lg-6{
					a{
						text-decoration: none;
						color: #4da45a;
						&:hover{
							transition: 1.0s;
							color: black;
						}
					}

				}
			}
		}
	}
	hr{
		width: 1115px;
		margin: 0 auto;
	}
	.color{
		height: 80px;
		line-height: 80px;
		background-color: #4da45a;
		color: #a3d0aa;
	}

}
