footer {
	background-color: #F8F8F8;

	.mail-image {
		position: relative;

		img {
			vertical-align: middle;
			position: absolute;
			top: -17px;
		}
	}

	.headphone {
		display: flex;

		i {
			font-size: 2.85rem;
		}


		@media only screen and (max-width: 991px) {
			display: flex;
			justify-content: center;

			i {
				font-size: 30px;
			}
			h5 {
				margin-left: 10px;
			}
		}
	}

	.footer-menu {
		li {
			margin-bottom: 1rem;
			font-size: .85rem;
		}
	}

	.bottom-footer {
		background-color: #009B49;
		color: white;

		ul {
			.font-footer {
				font-weight: lighter;

				li {

					a {
						text-decoration: none;

					}

				}
			}

		}

	}
}