.home-news {

  .navbar {

    .container-fluid {

      .navbar-brand {
        text-align: center;
        width: 120px;
        border-bottom: 3px solid #009B49;

      }

      .title-news {


        span {

          a {

            i {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .container-fluid {

    .box-news {

      .content-right {

        .row {

          .col-8 {

            .content-right {

              p {
                font-size: 14px;
              }

            }
          }
        }
      }
    }
  }

  .home-news {
  .title-section {
    span {
      border-bottom: 2px solid $primary;
    }
  }
}

  .vertical-post {
    .box-img {
      max-height: 300px;
      overflow: hidden;

      img {
        @include coverImage();
      }
    }
  }

  .horizontal-post {
    .title {
      @include textWithEllipsis(16, 1.2, 2);
    }

    .box-img {
      max-height: 135px;
      overflow: hidden;

      img {
        @include coverImage();
      }
    }

    .expert {
      @include textWithEllipsis(14, 1.2, 3);
    }
  }
}