body{
  font-family: Inter;
}
section{
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 85%;
  .banner-product{
    @media  screen and (max-width: 890px) {
      flex-wrap: wrap;

    }

    width: 100%;
    background: #F8D646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-title{
      margin-top:2%;
      @media  screen and (max-width: 890px) {
        width: 100%;
      }

      li{
        list-style: none;
        h3{
          font-size: 25px;
          color:#FFFFFF;
          font-weight: 900;
        }
      }
    }
    .nav-pills{
      margin-right: 1%;
      @media  screen and (max-width: 890px) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      @media  screen and (max-width: 560px) {
        width: 100%;
        flex-wrap: nowrap;
        .nav-item{

        }
      }
       .btn-custom{

         color: white!important;
         height: 35px;
          font-size: 15px;
         background: #C3C0B1!important;
         &:hover{
           background: white!important;
           color: black!important;
         }
         &:focus{
         background: white!important;
         color: black!important;

       }
       }
    }

  }



      .custom-product{
        display: flex;
        justify-content: center;
        background: #F8D646;

        align-items: center;
        padding-bottom: 20px;
           width: 100%;
        .box-product{
          width: 100% ;
          justify-content: center;




          .card{


        .card-body{
         .reviews{
           .stars{
             display: inline-block;
             list-style: none;
             padding: 0;
             li{
               display: inline-block;
               .bx{
                 color: #f7c01b;
               }
             }
           }
         }
          .price-custom{
            .sale{
              width: 3rem;
              height: 25px!important;
              border-radius:10%;
              height: 20px;
              background: #f7c01b;
              color: white;
              text-align: center;
            }
          }
             .price-product{
               b{
                font-weight: 900;
               }
             }
            }
          }

        }
      }


}